@charset "utf-8";
@import url(./font.css);

/* reset */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}
body,
* {
  cursor: none !important;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}

:root {
  --main: #f2d556;
  --black: #252525;
  --BG: #e7e4de;
}

*::-webkit-scrollbar {
  /* //스크롤바 전체 */
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-thumb {
  /* //스크롤바 */
  background-color: #585e8a4c;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

/* cyrillic-ext */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSGqxLUv.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSiqxLUv.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatS-qxLUv.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSOqxLUv.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSKqxLUv.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v17/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSyqxA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* reset */

/* 공통 */
body {
  background: var(--BG, #e7e4de);
  font-family: "Pretendard", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  border-bottom: 1px solid var(--black);
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header.active-on {
  grid-template-columns: 7fr 4fr;
}
.header__left {
  border-right: 1px solid var(--black);
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
}
.header__left a {
  border-radius: 4px;
  padding: 8px;
}
.header__right a {
  display: inline-block;
  font-family: Source Serif Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding: 14px 16px;
  border-radius: 4px;
}
.s__container {
  margin-left: 49px;
  border-left: 1px solid var(--black);
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s__contents {
  min-height: calc(100vh - 118px);
  overflow: auto;
}
footer {
  border-top: 1px solid var(--black);
}
footer p {
  color: #74726f;
  padding: 16px;
  text-align: center;
}
.swiper-button-next,
.swiper-button-prev {
  cursor: none !important;
}

.portfolio-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.portfolio-skill {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.portfolio-skill p {
  display: flex;
  align-items: center;
}
.portfolio-skill p + p::before {
  content: "";
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(/icon_slash.svg) no-repeat;
}
.portfolio-data {
  font-size: 14px;
  margin-bottom: 40px;
}
.portfolio-data li {
  display: flex;
  align-items: center;
}
.portfolio-data li + li {
  margin-top: 8px;
}
.portfolio-data span {
  display: block;
  margin-right: 24px;
  font-weight: 400;
}
.portfolio-data p {
  font-weight: 700;
}
.portfolio-step-wrap {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.portfolio-step-wrap .circle {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  margin-bottom: 8px;
}
.portfolio-step-wrap .step-bar {
  position: absolute;
  top: 2px;
  margin: 0 4px 0 12px;
  height: 1px;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.3);
}
.portfolio-step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.contents-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 40px;
}
.btn-bk {
  padding: 8px 42px;
  background-color: var(--black);
  color: #fff;
  display: inline-flex;
}
.btn-bk img {
  margin-left: 4px;
}

/* contact */
.contact-bar {
  top: 0;
  left: 0;
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  background-color: rgba(37, 37, 37, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.active-on .contact-bar {
  grid-template-columns: 7fr 4fr;
}
.contact-wrap > div {
  background-color: var(--black);
}
.contact-title-wrap {
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  position: relative;
  z-index: 2;
}
.contact-title-wrap h3 {
  font-family: Source Serif Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #fff;
}
.contact-title-wrap a {
  border-radius: 4px;
  padding: 0;
}
.contact-body {
  height: calc(100vh - 61px);
  padding: 0 32px 32px 32px;
  position: relative;
  z-index: 0;
}
.contact-body form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: center;
  border-top: 1px solid #fff;
}
.contact-body p {
  color: var(--WHITE, #fff);
  font-family: Pretendard Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}
.contact-body input {
  padding: 16px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: var(--black);
  margin-bottom: 1px;
}
.contact-body input:-webkit-autofill,
.contact-body input:-webkit-autofill:hover,
.contact-body input:-webkit-autofill:focus,
.contact-body input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
  box-shadow: 0 0 0px 1000px var(--black) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-body input:autofill,
.contact-body input:autofill:hover,
.contact-body input:autofill:focus,
.contact-body input:autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
  box-shadow: 0 0 0px 1000px var(--black) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.contact-body input::placeholder {
  color: var(--GRAY, #74726f);
}
.contact-body > a {
  padding: 16px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  color: #fff;
}
.contact-body > a img {
  margin-left: 4px;
}
.contact-body .send-btn {
  padding: 16px 42px;
  background-color: var(--main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: var(--black);
  margin-top: 48px;
}
@keyframes contact-open-title {
  0% {
    transform: translateY(-65px);
  }
  100% {
    transform: translateY(0);
  }
}
.contact-bar.active-on .contact-title-wrap {
  animation-name: contact-open-title;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes contact-open-body {
  0% {
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}
.contact-bar.active-on .contact-body {
  animation-name: contact-open-body;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes contact-close-title {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-65px);
  }
}
.contact-bar.active-off .contact-title-wrap {
  animation-name: contact-close-title;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes contact-close-body {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120%);
  }
}
.contact-bar.active-off .contact-body {
  animation-name: contact-close-body;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.contact-bar.active-off {
  background-color: rgba(37, 37, 37, 0);
}
.contact-bar.active-on {
  background-color: rgba(37, 37, 37, 0.3);
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 767px) {
  header {
    padding-left: 0;
    grid-template-columns: 1fr;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--BG, #e7e4de);
    z-index: 10;
  }
  .header__left {
    justify-content: center;
    padding-top: 8px;
    border-right: none;
  }
  .header__right {
    padding: 0 8px;
  }
  .s__container{
    margin-top: 97px;
    margin-left: 0;
  }
  .header__right > div > a{
    padding: 14px 8px;
    display: inline-block;
  }
  .header__right > img {
    width: 14px;
  }
  .header__right > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 40px);
  }
  .contact-bar{
    grid-template-columns: 1fr;
    padding-left: 0;
  }
  .header__right .contact-wrap{
    display: block;
  }
}
